<div bsModal #basicModal="bs-modal" [config]="{ backdrop: 'static', keyboard: false}" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
        <div class="modal-content modal-form">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{ tituloForm }}</h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form #dataForm="ngForm" (ngSubmit)="submitAction(dataForm)">
                    <input type="hidden" name="action" value="{{ actionForm }}">
                    <div class="form-group">

                        <input type="hidden" [(ngModel)]="record.id" class="form-control" name="ID">
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="id_catentidades">Organo fiscalizador</label>
                                <select2 [overlay]="true" [(ngModel)]="record.id_catentidades" [data]="catentidadesCat" name="Organo fiscalizador" resettable> </select2>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="nombre">Nombre de la auditoría</label>
                                <input type="text" [(ngModel)]="record.nombre" class="form-control" name="Nombre de la auditoría">
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="numerooficio">Oficio de apertura de la auditoría</label>
                                <input type="text" [(ngModel)]="record.numerooficio" class="form-control" name="Oficio de apertura de la auditoría">
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <form-uploadFisico #id_archivos_numerooficio name="id_archivos_numerooficio" (onLoaded)="onLoadedFile($event)" [ruta]="" [selectedFiles]=""></form-uploadFisico>
                            <br/>
                            <list-uploadFisico #id_archivos_numerooficio_list name="id_archivos_numerooficio_list"></list-uploadFisico>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="id_catejercicios">Ejercicios auditados</label>
                                <select2 [multiple]="true" [overlay]="true" [(ngModel)]="record_id_catejercicios" [data]="catejerciciosCat" name="Ejercicios auditados" resettable> </select2>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="fecha">Fecha de inicio de la auditoría</label>
                                <input type="date" [(ngModel)]="record.fecha" class="form-control" name="Fecha de inicio de la auditoría">
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="periodoini">Fecha de inicio del periodo que se informa</label>
                                <input type="date" [(ngModel)]="record.periodoini" class="form-control" name="Fecha de inicio del periodo que se informa">
                            </div>
                        </div>

                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="periodofin">Fecha final del periodo que se informa</label>
                                <input type="date" [(ngModel)]="record.periodofin" class="form-control" name="Fecha final del periodo que se informa">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="id_cattiposauditoria">Tipo de auditoría</label>
                                <select2 [overlay]="true" [(ngModel)]="record.id_cattiposauditoria" [data]="cattiposauditoriaCat" name="Tipo de auditoría" resettable> </select2>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="id_catservidores">Servidor público responsable de la información</label>
                                <select2 [overlay]="true" [(ngModel)]="record.id_catservidores" [data]="catservidoresCat" name="Servidor público responsable de la información" resettable> </select2>
                            </div>
                        </div>

                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="id_catresponsables">Auditor responsable</label>
                                <select2 [overlay]="true" [(ngModel)]="record.id_catresponsables" [data]="catresponsablesCat" name="Auditor responsable" resettable> </select2>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="rubros">Rubros sujetos a revisión</label>
                                <input type="text" [(ngModel)]="record.rubros" class="form-control" name="Rubros sujetos a revisión">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="numeroauditoria">Numero de auditoría</label>
                                <input type="text" [(ngModel)]="record.numeroauditoria" class="form-control" name="Numero de auditoría">
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="objetivo">Objetivo de la auditoría</label>
                                <input type="text" [(ngModel)]="record.objetivo" class="form-control" name="Objetivo de la auditoría">
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="marcolegal">Marco legal</label>
                                <input type="text" [(ngModel)]="record.marcolegal" class="form-control" name="Marco legal">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="numerooficionoti1">Numero de oficio de notificación(1)</label>
                                <input type="text" [(ngModel)]="record.numerooficionoti1" class="form-control" name="Numero de oficio de notificación(1)">
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <form-uploadFisico #id_archivos_numerooficionoti1 name="id_archivos_numerooficionoti1" (onLoaded)="onLoadedFile($event)" [ruta]="" [selectedFiles]=""></form-uploadFisico>
                            <br/>
                            <list-uploadFisico #id_archivos_numerooficionoti1_list name="id_archivos_numerooficionoti1_list"></list-uploadFisico>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="numerooficionoti2">Numero de oficio de notificación(2)</label>
                                <input type="text" [(ngModel)]="record.numerooficionoti2" class="form-control" name="Numero de oficio de notificación(2)">
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <form-uploadFisico #id_archivos_numerooficionoti2 name="id_archivos_numerooficionoti2" (onLoaded)="onLoadedFile($event)" [ruta]="" [selectedFiles]=""></form-uploadFisico>
                            <br/>
                            <list-uploadFisico #id_archivos_numerooficionoti2_list name="id_archivos_numerooficionoti2_list"></list-uploadFisico>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="numerooficionoti3">Numero de oficio de notificación(3)</label>
                                <input type="text" [(ngModel)]="record.numerooficionoti3" class="form-control" name="Numero de oficio de notificación(3)">
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <form-uploadFisico #id_archivos_numerooficionoti3 name="id_archivos_numerooficionoti3" (onLoaded)="onLoadedFile($event)" [ruta]="" [selectedFiles]=""></form-uploadFisico>
                            <br/>
                            <list-uploadFisico #id_archivos_numerooficionoti3_list name="id_archivos_numerooficionoti3_list"></list-uploadFisico>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="numeroofisol1">Numero de oficio de solicitud de la información(1)</label>
                                <input type="text" [(ngModel)]="record.numeroofisol1" class="form-control" name="Numero de oficio de solicitud de la información(1)">
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <form-uploadFisico #id_archivos_numeroofisol1 name="id_archivos_numeroofisol1" (onLoaded)="onLoadedFile($event)" [ruta]="" [selectedFiles]=""></form-uploadFisico>
                            <br/>
                            <list-uploadFisico #id_archivos_numeroofisol1_list name="id_archivos_numeroofisol1_list"></list-uploadFisico>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="numeroofisol2">Numero de oficio de solicitud de la información(2)</label>
                                <input type="text" [(ngModel)]="record.numeroofisol2" class="form-control" name="Numero de oficio de solicitud de la información(2)">
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <form-uploadFisico #id_archivos_numeroofisol2 name="id_archivos_numeroofisol2" (onLoaded)="onLoadedFile($event)" [ruta]="" [selectedFiles]=""></form-uploadFisico>
                            <br/>
                            <list-uploadFisico #id_archivos_numeroofisol2_list name="id_archivos_numeroofisol2_list"></list-uploadFisico>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="numeroofisol3">Numero de oficio de solicitud de la información(3)</label>
                                <input type="text" [(ngModel)]="record.numeroofisol3" class="form-control" name="Numero de oficio de solicitud de la información(3)">
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <form-uploadFisico #id_archivos_numeroofisol3 name="id_archivos_numeroofisol3" (onLoaded)="onLoadedFile($event)" [ruta]="" [selectedFiles]=""></form-uploadFisico>
                            <br/>
                            <list-uploadFisico #id_archivos_numeroofisol3_list name="id_archivos_numeroofisol3_list"></list-uploadFisico>
                        </div>
                    </div>
                    <div class="row">

                    </div>

                    <div *ngIf="actionForm!=='nuevo'">
                        <app-header-admin id="header-admin-2" [nombreModulo]="nombreModulo" (agregarEvent)="openModal('custom-modal-2','nuevo',0,record.id)">
                        </app-header-admin>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>

                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <table id="tblAuditoriasdetalle" datatable [dtOptions]="dtOptions" class="table table-striped table-bordered row-border hover" width="100%">
                                <tbody>
                                    <tr *ngFor="let member of Members">
                                        <ng-container *ngFor="let col of ColumnNames;index as i">
                                            <div *ngIf="col=='Acciones'; else elseBlock">
                                                <!--<td><img src="assets/{{ member[col] }}" width="50" /></td>-->
                                                <td>
                                                    <div *ngFor="let boton of member[col].split(',')" style="display: contents;">
                                                        <button *ngIf="boton=='ver'" class="btn btn-brand btn-sm mr-1 btn-instagram" style="margin-bottom: 4px" type="button" (click)="openModal('custom-modal-2','ver',member.ID,member.id_auditorias)">
                                                      <i class="fa fa-search"></i>
                                                  </button>
                                                        <button *ngIf="boton=='editar'" class="btn btn-brand btn-sm mr-1 btn-spotify" style="margin-bottom: 4px" type="button" (click)="openModal('custom-modal-2','editar',member.ID,member.id_auditorias)">
                                                      <i class="fa fa-edit"></i>
                                                  </button>
                                                        <button *ngIf="boton=='eliminar'" class="btn btn-brand btn-sm mr-1 btn-reddit" style="margin-bottom: 4px" type="button" (click)="openModal('custom-modal-2','eliminar',member.ID)">
                                                      <i class="fa fa-trash"></i>
                                                  </button>
                                                    </div>
                                                </td>
                                            </div>
                                            <ng-template #elseBlock>
                                                <ng-container *ngIf="col!='ID';else elseBlock2">
                                                    <td>{{ member[col] }}</td>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #elseBlock2></ng-template>
                                        </ng-container>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <app-validation-summary [form]="dataForm"></app-validation-summary>
                    <!-- [disabled]="!dataForm.form.valid" -->
                    <button *ngIf="actionForm!=='ver'" type="submit" [disabled]='userFormIsPending | async' class="btn btn-primary">
                      <div *ngIf="userFormIsPending | async; else elseBlock"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span>Procesando...</span></div>
                      <ng-template #elseBlock>{{ botonAccion }}</ng-template>
                    </button>
                </form>
            </div>
            <!-- <h2>Diagnostic Info</h2>
            <div [innerHtml]="diagnosticValidate"></div>-->
        </div>
    </div>
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">&nbsp;</h5>
            </div>
            <div class="modal-body">
                <p>Acción realizada satisfactoriamente</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<app-auditoriasdetalle-form id="custom-modal-2" (redrawEvent)="reDraw($event)">
    <!--<input type="hidden" [(ngModel)]="idItem" />-->
</app-auditoriasdetalle-form>