<div bsModal #basicModalAnexos="bs-modal" [config]="{ backdrop: 'static'}" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-full-height modal-right" role="document" style="background: aqua; top: 40px;">
        <div class="modal-content modal-form">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{ tituloForm }}</h4>
                <app-tracking-form id="tracking-form-3" [nombreTabla]="nombreTablaTracking" [idRecord]="record.id" [hidden]="this.userrol!='AD'" >
                </app-tracking-form>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form #dataFormAnexos="ngForm" (ngSubmit)="submitAction(dataFormAnexos)">
                    <input type="hidden" name="action" value="{{ actionForm }}">
                    <div class="form-group">
                        <input type="hidden" [(ngModel)]="record.id" class="form-control" name="ID">
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="puntoanexo">Inciso que responde</label>
                                <input type="text" [(ngModel)]="record.puntoanexo" class="form-control" name="Inciso que responde">
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" [(ngModel)]="record.nombre" class="form-control" name="Nombre">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-9">
                            <div class="form-group">
                                <label for="observaciones">Observaciones</label>
                                <textarea [(ngModel)]="record.observaciones" rows="2" cols="50" class="form-control" name="Observaciones">
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="actionForm!=='nuevo'"  [hidden]="this.userrol!='AD'" >
                        <nav class="header-admin navbar navbar-expand-lg ">
                            <div class="collapse navbar-collapse">
                                <ul class="navbar-nav mr-auto"></ul>
                                <form class="form-inline my-2 my-lg-0">
                                    <button class="btn btn-success my-2 my-sm-0" (click)="openModal('modalUploadAnexos', 'nuevo', 0, record.id)">Agregar archivo</button>
                                </form>
                            </div>
                        </nav>
                    </div>
                    <div class="row" >
                        <div class="form-group col-sm-8">
                            <table-uploadFisico #tablaArchivosAnexos name="tablaArchivosAnexos" (onRemoved)="onRemovedFile($event)"></table-uploadFisico>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <app-validation-summary [form]="dataFormAnexos"></app-validation-summary>
                    
                    <div class="row">
                        <div class="form-group col-sm-11">
                            <div class="form-group">
                                <!-- [disabled]="!dataForm.form.valid" -->
                                <button *ngIf="actionForm!=='ver'" type="submit" [disabled]='userFormIsPending | async' class="btn btn-primary">
                                    <div *ngIf="userFormIsPending | async; else elseBlock"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span>Procesando...</span></div>
                                    <ng-template #elseBlock>{{ botonAccion }}</ng-template>
                                </button>
                            </div>
                        </div>
                        <div class="form-group col-sm-1">
                            <div class="form-group">
                                <button type="button" class="btn btn-secondary" (click)="this.close()"> 
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- <h2>Diagnostic Info</h2>
        <div [innerHtml]="diagnosticValidate"></div>-->
        </div>
    </div>
</div>
<app-modalupload-form id="modalUploadAnexos" [ruta]="ruta" [tabla]="tabla" [selectedFiles]="" (onLoaded)="onLoadedFile($event)">
</app-modalupload-form>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">&nbsp;</h5>
            </div>
            <div class="modal-body">
                <p>Acción realizada satisfactoriamente</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>