<div bsModal #basicModalDetalle="bs-modal" [config]="{ backdrop: 'static', keyboard: false}" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-full-height modal-right" role="document"  style="background: rgb(129, 126, 18); top: 20px;">
        <div class="modal-content modal-form">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{ tituloForm }}</h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form #dataForm="ngForm" (ngSubmit)="submitAction(dataForm)">
                    <input type="hidden" name="action" value="{{ actionForm }}">
                    <div class="form-group">
                        <input type="hidden" [(ngModel)]="record.id" class="form-control" name="ID">
                        <input type="hidden" [(ngModel)]="record.id_auditorias" class="form-control" name="Código">
                    </div>
                    <!-- Nav tabs -->
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="punto">Numero de procedimiento</label>
                                <input type="text" [(ngModel)]="record.punto" class="form-control" name="Numero de procedimiento">
                            </div>
                        </div>


                        <div class="form-group col-sm-9">
                            <div class="form-group">
                                <label for="observacion">Nombre del procedimiento</label>
                                <textarea [(ngModel)]="record.observacion" rows="5" cols="50" class="form-control" name="Observación">
                                        </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="fecharecepcion">Fecha de recepción del documento</label>
                                <input type="date" [(ngModel)]="record.fecharecepcion" class="form-control" name="Fecha de recepción del documento">
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="fechalimite">Fecha límite para entrega de información</label>
                                <input type="date" [(ngModel)]="record.fechalimite" class="form-control" name="Fecha límite para entrega de información">
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="oficio">Oficio de la documentación entregada</label>
                                <input type="text" [(ngModel)]="record.oficio" class="form-control" name="Oficio de la documentación entregada">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-2">
                            <div class="form-group">
                                <label for="original">Original</label>
                                <select class="form-control" [(ngModel)]="record.original" name="Original">
                                    <option value = "0" default>No</option>
                                    <option value = "1">Sí</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <div class="form-group">
                                <label for="simple">Simple</label>
                                <select class="form-control" [(ngModel)]="record.simple" name="Simple">
                                    <option value = "0" default>No</option>
                                    <option value = "1">Sí</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <div class="form-group">
                                <label for="copia">Copia</label>
                                <select class="form-control" [(ngModel)]="record.copia" name="Copia">
                                    <option value = "0" default>No</option>
                                    <option value = "1">Sí</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="actionForm!=='nuevo'">
                        <nav class="header-admin navbar navbar-expand-lg ">
                            <div class="collapse navbar-collapse">
                                <ul class="navbar-nav mr-auto"></ul>
                                <form class="form-inline my-2 my-lg-0">
                                    <button class="btn btn-success my-2 my-sm-0" (click)="openModal('modalUpload', 'nuevo', 0, record.id)">Agregar archivo</button>
                                </form>
                            </div>
                        </nav>
                    </div>
                    <div class="row" >
                        <div class="form-group col-sm-8">
                            <table-uploadFisico #tablaArchivos name="tablaArchivos" (onRemoved)="onRemovedFile($event)"></table-uploadFisico>
                        </div>
                    </div>
                    <div *ngIf="actionForm!=='nuevo'">
                        <nav class="header-admin navbar navbar-expand-lg ">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">

                                </ul>
                                <form class="form-inline my-2 my-lg-0">
                                    <button class="btn btn-success my-2 my-sm-0" (click)="openModal('custom-anexos', 'nuevo', 0, record.id)">Agregar anexo</button>
                                </form>
                            </div>
                        </nav>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>

                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <table id="tblAuditoriaanexos" datatable [dtOptions]="dtOptions" class="table table-striped table-bordered row-border hover" width="100%">
                                <tbody>
                                    <tr *ngFor="let member of Members;index as irecord">
                                        <ng-container *ngFor="let col of ColumnNames;index as i">
                                            <div *ngIf="col=='Acciones'; else elseBlock">
                                                <!--<td><img src="assets/{{ member[col] }}" width="50" /></td>-->
                                                <td>
                                                    <div *ngFor="let boton of member[col].split(',')" style="display: contents;">
                                                        <button *ngIf="boton=='ver' " class="btn btn-brand btn-sm mr-1 btn-instagram" style="margin-bottom: 4px" type="button" (click)="openModal('custom-anexos', 'ver', member.ID, record.id)">
                                                                  <i class="fa fa-search"></i>
                                                              </button>

                                                        <button *ngIf="boton=='editar'" class="btn btn-brand btn-sm mr-1 btn-spotify" style="margin-bottom: 4px" type="button" (click)="openModal('custom-anexos', 'editar', member.ID, record.id)">
                                                                    <i class="fa fa-edit"></i>
                                                                </button>
                                                        <button *ngIf="boton=='eliminar'" class="btn btn-brand btn-sm mr-1 btn-reddit" style="margin-bottom: 4px" type="button" (click)="openModal('custom-anexos', 'eliminar', member.ID, record.id)">
                                                                    <i class="fa fa-trash"></i>
                                                                </button>

                                                    </div>
                                                </td>
                                            </div>
                                            <ng-template #elseBlock>
                                                <ng-container *ngIf="col!='ID';else elseBlock2">
                                                    <td>
                                                        <div [innerHtml]="member[col]"></div>
                                                    </td>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #elseBlock2></ng-template>
                                        </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        &nbsp;
                    </div>
                    <app-validation-summary [form]="dataForm"></app-validation-summary>
                    
                    <div class="row">
                        <div class="form-group col-sm-11">
                            <div class="form-group">
                                <!-- [disabled]="!dataForm.form.valid" -->
                                <button *ngIf="actionForm!=='ver'" type="submit" [disabled]='userFormIsPending | async' class="btn btn-primary">
                                    <div *ngIf="userFormIsPending | async; else elseBlock"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span>Procesando...</span></div>
                                    <ng-template #elseBlock>{{ botonAccion }}</ng-template>
                                </button>
                            </div>
                        </div>
                        <div class="form-group col-sm-1">
                            <div class="form-group">
                                <button type="button" class="btn btn-secondary" (click)="this.close()"> 
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- <h2>Diagnostic Info</h2>
            <div [innerHtml]="diagnosticValidate"></div>-->
        </div>
    </div>
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">&nbsp;</h5>
            </div>
            <div class="modal-body">
                <p>Acción realizada satisfactoriamente</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="continuarEditando()">Continuar editando</button>
                <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<app-auditoriasanexos-form id="custom-anexos" (redrawEvent)="reDraw($event)">
</app-auditoriasanexos-form>
<app-modalupload-form id="modalUpload" [ruta]="ruta" [tabla]="tabla" [selectedFiles]="" (onLoaded)="onLoadedFile($event)">
</app-modalupload-form>