<div bsModal #basicModalReporte="bs-modal" [config]="{ backdrop: 'static', keyboard: false}" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
        <div class="modal-content modal-form">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{ tituloForm }}</h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form #dataForm="ngForm" (ngSubmit)="submitAction(dataForm)">
                    <table class="tablaInfo" id="pdfTable" #pdfTable>
                        <tr>
                            <td>Organo fiscalizador</td>
                            <td>{{record.desc_catentidades}}</td>
                        </tr>
                        <tr>
                            <td>Nombre de la auditoría</td>
                            <td>{{record.nombre}}</td>
                        </tr>

                        <tr>
                            <td>Oficio de apertura de la auditoría</td>
                            <td>{{record.numerooficio}}</td>
                        </tr>

                        <tr>
                            <td>Ejercicios auditados</td>
                            <td>{{record.id_catejercicios}}</td>
                        </tr>

                        <tr>
                            <td>Fecha de inicio de la auditoría</td>
                            <td>{{record.fecha}}</td>
                        </tr>
                        <tr>
                            <td>Fecha de inicio del periodo que se informa</td>
                            <td>{{record.periodoini}}</td>
                        </tr>
                        <tr>
                            <td>Fecha final del periodo que se informa</td>
                            <td>{{record.periodofin}}</td>
                        </tr>
                        <tr>
                            <td>Tipo de auditoría</td>
                            <td>{{record.desc_cattiposauditoria}}</td>
                        </tr>
                        <tr>
                            <td>Servidor público responsable de la información</td>
                            <td>{{record.desc_catservidores}}</td>
                        </tr>
                        <tr>
                            <td>Auditor responsable</td>
                            <td>{{record.desc_catresponsables}}</td>
                        </tr>
                        <tr>
                            <td>Rubros sujetos a revisión</td>
                            <td>{{record.rubros}}</td>
                        </tr>
                        <tr>
                            <td>Numero de auditoría</td>
                            <td>{{record.numeroauditoria}}</td>
                        </tr>
                        <tr>
                            <td>Objetivo de la auditoría</td>
                            <td>{{record.objetivo}}</td>
                        </tr>
                        <tr>
                            <td>Marco legal</td>
                            <td>{{record.marcolegal}}</td>
                        </tr>
                        <tr>
                            <td>Numero de oficio de notificación(1)</td>
                            <td>{{record.numerooficionoti1}}</td>
                        </tr>
                        <tr>
                            <td>Numero de oficio de notificación(2)</td>
                            <td>{{record.numerooficionoti2}}</td>
                        </tr>
                        <tr>
                            <td>Numero de oficio de notificación(3)</td>
                            <td>{{record.numerooficionoti3}}</td>
                        </tr>
                        <tr>
                            <td>Numero de oficio de solicitud de la información(1)</td>
                            <td>{{record.numeroofisol1}}</td>
                        </tr>
                        <tr>
                            <td>Numero de oficio de solicitud de la información(2)</td>
                            <td>{{record.numeroofisol2}}</td>
                        </tr>
                        <tr>
                            <td>Numero de oficio de solicitud de la información(3)</td>
                            <td>{{record.numeroofisol3}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table class="tablaInfoSub">
                                    <thead>
                                        <tr>
                                            <th>Punto</th>
                                            <th>Observación</th>
                                            <th>Fecha de recepción</th>
                                            <th>Fecha límite</th>
                                            <th>Oficio</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let col of record_detalles;index as i">
                                            <tr>
                                                <td> {{ col.punto }} </td>
                                                <td> {{ col.observacion }} </td>
                                                <td> {{ col.fecharecepcion }} </td>
                                                <td> {{ col.fechalimite }} </td>
                                                <td> {{ col.oficio }} </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <div class="row">
                        &nbsp;
                    </div>
                    <!-- [disabled]="!dataForm.form.valid" -->
                    <button type="button" class="btn btn-primary" (click)="makeMultiPage();">
                      <div>Exportar a PDF</div>
                    </button>
                </form>
            </div>
            <!-- <h2>Diagnostic Info</h2>
            <div [innerHtml]="diagnosticValidate"></div>-->
        </div>
    </div>
</div>