<div bsModal #basicModalReporte="bs-modal"  [config]="{ backdrop: 'static', keyboard: false}" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
        <div class="modal-content modal-form modal-report">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{ tituloForm }}</h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form #dataForm="ngForm" (ngSubmit)="MakePDF()" id="ngForm">
                    <div>
                        <div class="table tablaInfo" id="pdfTable" #pdfTable>
                            <div class="tr">
                                <div class="td colspan5">
                                        <div class="table titulo" style="width: inherit;">
                                            <div class="tr">
                                                <div class="td"><img  src="assets/img/brand/encabezadosinmargen.png" width="50%"></div>
                                            </div>
                                            <div class="tr">
                                                <div class="td"><span>COLEGIO DE BACHILLERES DEL ESTADO DE VERACRUZ</span></div>
                                            </div>
                                            <div class="tr">
                                                <div class="td"><span>ORGANISMO PÚBLICO DESCENTRALIZADO</span></div>
                                            </div>
                                            <div class="tr">
                                                <div class="td"><span>DIRECCIÓN ADMINISTRATIVA</span></div>
                                            </div>
                                        </div>
                                    
                                </div>
                            
                                <div class="tr">
                                    <div class="td">Organo fiscalizador</div>
                                    <div class="td">{{record.desc_catentidades}}</div>
                                
                                    <div class="td">Nombre de la auditoría</div>
                                    <div class="td">{{record.nombre}}</div>
                                </div>

                                <div class="tr">
                                    <div class="td">Oficio de apertura de la auditoría</div>
                                    <div class="td">{{record.numerooficio}}</div>
                            
                                    <div class="td">Ejercicios auditados</div>
                                    <div class="td">{{record.id_catejercicios}}</div>
                                </div>

                                <div class="tr">
                                    <div class="td">Fecha de inicio de la auditoría</div>
                                    <div class="td">{{record.fecha}}</div>
                                
                                    <div class="td">Fecha de inicio del periodo que se informa</div>
                                    <div class="td">{{record.periodoini}}</div>
                                </div>
                                <div class="tr">
                                    <div class="td">Fecha final del periodo que se informa</div>
                                    <div class="td">{{record.periodofin}}</div>
                                
                                    <div class="td">Tipo de auditoría</div>
                                    <div class="td">{{record.desc_cattiposauditoria}}</div>
                                </div>
                                <div class="tr">
                                    <div class="td">Servidor público responsable de la información</div>
                                    <div class="td">{{record.desc_catservidores}}</div>
                                
                                    <div class="td">Auditor responsable</div>
                                    <div class="td">{{record.desc_catresponsables}}</div>
                                </div>
                                <div class="tr">
                                    <div class="td">Rubros sujetos a revisión</div>
                                    <div class="td">{{record.rubros}}</div>
                                
                                    <div class="td">Numero de auditoría</div>
                                    <div class="td">{{record.numeroauditoria}}</div>
                                </div>
                                <div class="tr">
                                    <div class="td">Objetivo de la auditoría</div>
                                    <div class="td">{{record.objetivo}}</div>
                                
                                    <div class="td">Marco legal</div>
                                    <div class="td">{{record.marcolegal}}</div>
                                </div>
                            
                                
                                <div class="table tablaInfoSub">
                                    <div class="tr">
                                        <div class="th" >Punto</div>
                                        <div class="th" >Descripción</div>
                                        <div class="th" >Fecha de recepción</div>
                                        <div class="th" >Fecha límite</div>
                                        <div class="th" >Oficio</div>
                                    </div>
                                    <ng-container *ngFor="let col of record_detalles;index as i">
                                        <div class="tr">
                                            <div class="td"> {{ col.punto }} </div>
                                            <div class="td"> {{ col.observacion }} </div>
                                            <div class="td"> {{ col.fecharecepcion }} </div>
                                            <div class="td"> {{ col.fechalimite }} </div>
                                            <div class="td"> {{ col.oficio }} </div>
                                        </div>
                                        <div *ngIf="findItem(col.id).length>0">
                                            
                                                <div class="table tablaInfoSubSub">
                                                    <div class="tr">
                                                        <div class="th" >Inciso</div>
                                                        <div class="th" >Nombre</div>
                                                    </div>
                                                    <ng-container *ngFor="let col2 of findItem(col.id);">
                                                        <div class="tr">
                                                            <div class="td"> {{ col2.puntoanexo }} </div>
                                                            <div class="td"> {{ col2.nombre }} </div>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-2">
                            <div class="form-group">
                                <button type="button" class="btn btn-secondary" (click)="print()">Imprimir</button> 
                            </div>
                        </div>
                        <div class="form-group col-sm-8">
                            <div class="form-group">
                                <button *ngIf="actionForm!=='ver'" type="submit" [disabled]='userFormIsPending | async' class="btn btn-primary">
                                    <div *ngIf="userFormIsPending | async; else elseBlock"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span>Procesando...</span></div>
                                    <ng-template #elseBlock>Exportar a PDF</ng-template>
                                  </button>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <div class="form-group">
                                <button type="button" class="btn btn-secondary" (click)="this.close()"> 
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- [disabled]="!dataForm.form.valid" -->
                </form>
            </div>
            <!-- <h2>Diagnostic Info</h2>
            <div [innerHtml]="diagnosticValidate"></div>-->
        </div>
    </div>
</div>